<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Movies App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../public/stylesheets/main.css">
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Movie App</a>
				<% if (currentUser) { %>
					Signed in as <%= currentUser.username%>
					<a href="/logout">Log out</a>	
				<% } else { %>
					<a href="/register">Sign in</a>
					<a href="/login">Login</a>
				<% } %>
			</nav>
		</header>