<% include ./partials/header %>
		<main>
			<h2>Register</h2>
			<form action="/register" method="POST">
				<input type="text" name="username" placeholder="username"> 
				<input type="password" name="password" placeholder="password">
				<input type="submit" value="Register">
			</form>
		</main>
<% include ./partials/footer %>